@import '../base';

.order-history{
  padding: 20px 15px;
  border-bottom: 1px solid #aaa;

  .title-xs, .text-xs{
    font-size: 13px;
  }

  .text-xs{
    padding-left: 5px;
  }

  .mat-expansion-panel-header {
    padding: 0 16px;
    background-color: $yellow;
  }

  .mat-expansion-panel-header-title {
    display: block;
    margin-right: 0px;
    padding-top: 0px;
  }

  .row{
    margin: 0px;
    width: 100%;
  }

  // .first-row{
  //   padding-left: 0px;
  //   margin-left: 0px;
  // }

  .col-12{
    text-align: left;
    line-height: 13px;
    padding-top: 4px;
    padding-left: 0px;
    font-size: 13px;
  }

  .text-col {
    padding: 0px 0px 0px 5px;
  }

  .btn-col {
    .btn-change{
      float: left;
      margin-right: 15px;
    }
    .btn-delete{
      float: right;
      margin-right: 0px;
    }
  }


  .total{
      padding-top:8px;
  }

  .order-detail{
    padding-top: 8px;
    .items-col{
      padding-left: 0px;
      padding-right: 8px;
    }

    .product-col, .quantity-col, .price-col {
      padding-left: 0px;
      padding-right: 0px;
      font-size: 13px;
      line-height: 12px;
      padding: 0px;
    }

    .description-col{
      font-size: 13px;
      color: #888;
    }

    .total-col{
      display: flex;
      align-items: flex-end;
      padding-left: 0px;
      padding-right: 0px;

      .title-xs{
        width: 80px;
        float: left;
      }
      .text-xs{
        float: left;
      }
    }
  }
}

.highlight{
  background: $blue;
}
// .list-item:first-child{
//   background: $blue;
//   // margin-left: -10px;
//   // margin-right: -10px;
//   // padding-left: 10px;
//   // padding-right: 10px;
// }


// .ngx-pagination{
//   margin-top: 30px !important;
// }

@media #{$tablet}{
  $bottom-bar-h: 60px;
  $padding-w: 100px;

  .title-block{
    width: calc(100% - #{$padding-w} - #{$padding-w});
  }
}

@media (max-width: 767px){
    .order-history{
      .col-6, .col-12{
        padding-left: 0px;
        padding-right: 0px;
      }

      .title-xs, .text-xs{
        font-size: 12px;
      }
    }
}