$quantity-ctrl-w: 146px;

.quantity-ctrl{
  width: $quantity-ctrl-w;
}

.increase-btn, .decrease-btn{
  width: 30px;
  height: 30px;
  float: left;
}

.quantity-input{
  width: calc(100% - 80px);
  float: left;
  height: 30px;
  border: 1px solid #888;
}